<!DOCTYPE html>
	<html>
	<head>
		<title></title>
	</head>
	<body>
	<div id="app">
		{{message}}
	</div>
	<div id="app-2">
		<span v-bind:title="message">
			Hover your mouse.
		</span>
	</div>
	<div id="app-3">
		<p v-if='seen'>Now you see me</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for='todo in todos'>
				{{ todo.text }}
			</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{ message}}</p>
		<button v-on:click="reverseMessage">Reverse Message</button>
	</div>
	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message" />
	</div>
	<script type="text/javascript" src="./vue.js"></script>
	<script type="text/javascript" src="./demo.js"></script>
	</body>
</html>